<!DOCTYPE html>
<html>
	<head>
		<title>Fikri Web Node</title>
		<link rel="stylesheet" href="assets/style.css">
	</head>

	<body>
		<%- include('nav'); -%>
		<h1>Welcome to the most awesome node poject in the entire world. </h1>
		<p>Be patient to learn progamming.!</p>
	</body>
</html>