<!DOCTYPE html>
<html>
	<head>
		<title>Fikri Web Node</title>
		<style>
			body{
				background: skyblue;
				font-family: verdana;
				color: #fff;
				padding: 30px;
 
			}
			p,li{
				font-size: 40px;
				text-transform: uppercase;
				letter-spacing: 2px;
				text-align:center;
			}
		</style>
	</head>

	<body>
		<h1>Welcome to the most awesome node poject in the entire world. </h1>
		<p>Be patient to learn progamming.!</p>
		<h1>NAMA: <%= person %></h1>
		<h3>strong <%= data.age%> </h3>
		<h3>strong <%= data.jobs%> </h3>
		<hr>
		<h1>Hobbies</h1>
		<ul>
		    <% data.hobbies.forEach(function(item){ %>
		    	<li><%= item %></li>
			<% }); %>
		</ul>
	</body>
</html>